.App-body {
    display: flex;              /* establish flex container */
    flex-direction: column;     /* stack flex items vertically */
    justify-content: center;

    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    font-size: large;

    color: #fffffa;
    background-color: #912f40;
}

.flex-item {
    padding: calc(var(--main-app-body-height)/3);
    color: #fffffa;
    background-color: #080705;
}

.flex-item.App-tokenize {
    /* line-height: var(--main-app-body-height); */
    font-size: xx-large;
}

.flex-item.App-create {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    margin-top: 3px;
    /* line-height: var(--main-app-body-height); */
}
.flex-item.App-create span {
    font-weight: bold;
    font-size: x-large;
}
